.text-block {
  margin: 0.25rem 0;
  padding: 0.5rem;
  background: #fafafa;
  border-radius: 0.25rem;
}

[contenteditable='true']:empty:before {
  content: attr(placeholder);
  display: block;
  color: rgb(159, 158, 158);
  font-size: 16px;
}

/* .editable-block:hover {
  background: #f8f8f8;
  outline-color: #c9c9ca;
}

.editable-block:focus {
  background: #f7f8fb;
} */
