@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
}

.App {
  text-align: center;
}

.navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1.4rem;
  margin-top: 1rem;
}

.left-side {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
}

.right-side {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-right: 3rem;
}

.two-arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  color: #777777;
  margin-right: 2rem;
}

.main-text {
  color: #858585;
  font-weight: 500;
  text-decoration: underline;
}

.started-text {
  color: #b7b7b7;
  font-weight: 400;
}

.frontend-text {
  color: #b7b7b7;
  font-weight: 400;
}

.editing-text {
  color: #b7b7b7;
  font-weight: 400;
}

.publish-text {
  color: #426fae;
  font-weight: 600;
}

.header-container {
  height: 10vh;
  width: 50%;
  margin: 0 auto;
}

.menu-bar {
  display: flex;
  height: 55%;
  margin-top: 4rem;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-right: 1rem;
}

.profile-icon {
  width: 28px;
  height: 35px;
  background-color: #d8f8e5;
  margin-left: 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
}

.slash-separator:after {
  content: '/';
  margin: 0 10px;
  color: #c7c7c7;
}

.pipe-separator:after {
  content: '|';
  margin: 0 10px;
  color: #c7c7c7;
}

.pipe-separator.arrow:after {
  content: '|';
  margin: 0 12px;
  color: #cccccc;
  font-size: 10px;
}

.clock-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
  color: #9d9d9d;
  gap: 0.5rem;
}

.rabbit-container {
  width: 26px;
  height: 26px;
  background-color: #eb7379;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 50%;
  overflow-y: hidden;
}

.rabbit-icon {
  width: 20px;
  height: 20px;
}

.arrow-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 400;
  color: #9d9d9d;
  gap: 0.5rem;
}

.heading {
  font-size: 48px;
  margin-top: 2rem;
  display: flex;
  justify-content: flex - start;
}

.underline {
  width: 100%;
  margin-top: 1rem;
  background-color: #d1d1d1;
  border: none;
  height: 1.2px;
}

.instruction {
  display: flex;
  justify-content: flex - start;
  margin-top: 2rem;
  font-size: 18px;
  font-weight: 400;
  color: #989898;
  text-align: left;
  width: 90%;
  line-height: 1.4;
}
